{
    "model": {
        "input_size": 300,
        "type": "RESNET50",
        "model_path": ""
    },
    "trainer": {
        "optimizer": {
            "type": "ADAM",
            "init_lr": 0.0001
        },
        "options": {
            "training_data_dir": "",
            "validation_data_dir": "",
            "nb_epochs": 5,
            "batch_size": 4,
            "input_size": 300,
            "output_dir": "",
            "class_names": ["car", "background"],
            "short_epoch": false,
            "save_best": false,
            "lr_schedule": [
                {
                    "epoch": 0,
                    "lr": 0.0001
                },
                {
                    "epoch": 4,
                    "lr": 0.00001
                }
            ]
        }
    }
}
